.hero-with-donation-block-pane {
  background-color: $white;
  img {
    display: block;
  }
  .hero-with-donation-block-pane__form-wrapper {
    padding: 26px;
    box-shadow: -2px 9px 10px 6px rgba(0, 0, 0, 0.22);
  }

  @include media-breakpoint-up(md) {
    height: 344px;
    .hero-with-donation-block-pane__form-wrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .donation-form-block {
      width: 100%;
    }
  }
  @include media-breakpoint-up(lg) {
    height: 300px;
  }
  @include media-breakpoint-up(xl) {
    height: 400px;
  }
}
