.hero-with-donation-block-pane {
  background-color: $white;

  img {
    display: block;
  }
  .hero-with-donation-block-pane__form {
    display: none;
  }
  @include media-breakpoint-up(md) {
    align-items: stretch;
    .hero-with-donation-block-pane__image {
      overflow: hidden;
      img {
        max-width: initial;
        max-height: 100%;
      }
    }
    .hero-with-donation-block-pane__form {
      background-color: blue;
      display: flex;
      justify-items: stretch;
    }
    .hero-with-donation-block-pane__form-wrapper {
      background-color: $white;
      padding: 26px;
      box-shadow: -2px 9px 10px 6px rgba(0, 0, 0, 0.22);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 999;
      width: 100%;
    }
    .donation-form-block {
      width: 100%;
    }
  }
  @include media-breakpoint-up(lg) {
    .hero-with-donation-block-pane__image {
      position: relative;
      img {
        max-width: 120%;
        max-height: 109%;
        position: absolute;
        bottom: 0;
      }
    }
    .hero-with-donation-block-pane__form-wrapper {
      padding: 24px;
    }
  }
  @include media-breakpoint-up(xl) {
    .hero-with-donation-block-pane__form-wrapper {
      padding: 26px 44px;
    }
  }
}
