.money-handles-with-button {
  @include media-breakpoint-down(lg) {
    height: 142px;
    display: flex;
    text-align: center;

    .money-handles-with-button__description {
      padding: 16px;
      width: 66%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .money-handles-icon {
      margin-bottom: 6px;
    }

    .money-handles-with-button__button {
      width: 34%;
      height: 100%;
      .btn {
        @include font-size(20px);
        line-height: normal;
        white-space: normal;
        padding: 0;
        display: flex;
        height: 100%;
        border-radius: 0;
        align-items: center;
        text-align: center;
        span {
          max-width: 150px;
          margin: 0 auto;
        }
      }
    }
  }

  @include media-breakpoint-only(sm) {
    height: 202px;
    .money-handles-icon {
      margin-bottom: 20px;
      margin-top: -20px;
    }
  }

  @include media-breakpoint-between(md, lg) {
    height: 260px;

    .money-handles-with-button__button .btn {
      @include font-size(32px);
    }

    .money-handles-description {
      max-width: 78%;
      margin: 0 auto;
    }

    .money-handles-icon {
      margin-bottom: 16px;
      margin-top: -8px;
      span {
        max-width: 180px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    text-align: center;
    height: 416px;
    padding: 38px 32px 50px 32px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    position: relative;

    .money-handles-icon {
      position: absolute;
      bottom: 156px;
      left: calc(50% - 75px);
    }

    .money-handles-with-button__button {
      width: 100%;
      .btn {
        @include font-size(36px);
        padding: 0.438rem 1.5rem;
        width: 100%;
        max-width: 410px;
      }
    }
  }

  .money-handles-description {
    @include font-size(14px);
    color: $white;
    line-height: normal;
    font-weight: bold;
    @include media-breakpoint-up(md) {
      @include font-size(20px);
    }
    @include media-breakpoint-up(xl) {
      @include font-size(24px);
    }
    @media (min-width: 1550px) {
      line-height: 1.4;
    }
  }
  .money-handles-icon {
    width: 60px;
    @include media-breakpoint-up(sm) {
      width: 104px;
    }
    @include media-breakpoint-up(md) {
      width: 112px;
    }
    @include media-breakpoint-up(xl) {
      width: 150px;
    }
  }
}



