# PHPStorm directory.
.idea

# MacOS Desktop Services Store files.
.DS_Store

# Docker mysql storage.
/docker/mysql/*
!/docker/mysql/.gitkeep

# DB dumps/backups.
/backup/*
!/backup/.gitkeep

# Environment overrides.
/.env
/docker/docker-compose.override.yml
