.site-header {
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
  &:after {
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    width: 100%;
    z-index: 99;
    bottom: 0;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
  }
  a {
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
  .row {
    margin: 0;
  }
  .site-header-logo {
    a {
      display: block;
    }
    img {
      width: 94px;
      padding: 6px 0;
      display: block;
    }
  }
  .site-header-slogan {
    text-align: right;
    .site-slogan {
      position: relative;
      top: calc(50% - 11px);
    }
  }
  @include media-breakpoint-up(md) {
    .site-header-logo img {
      width: 129px;
      padding: 14px 0;
    }
  }
  @include media-breakpoint-up(xl) {
    .row {
      padding: 0 15px;
    }
    .site-header-logo img {
      width: 152px;
      padding: 20px 0;
    }
    .site-header-slogan .site-slogan {
      @include font-size(20px);
    }
  }
}