{#
/**
 * @file event_code.html.twig
 * Default theme implementation to present Event code data.
 *
 * This template is used when viewing Event code pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_event_code()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('event_code') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
