.money-handles-icon {
  width: 60px;
  @include media-breakpoint-up(sm) {
    width: 104px;
  }
  @include media-breakpoint-up(md) {
    width: 112px;
  }
  @include media-breakpoint-up(xl) {
    width: 150px;
  }
}
