.btn {
  @include font-size(16px);
  font-family: $font-family-base;
  font-weight: bold;
  max-width: 100%;

  @include media-breakpoint-up(xl) {
    @include font-size(18px);
    padding: 1.2rem 1.35rem;
  }
}
.btn.btn-sm {
  font-weight: normal;
  @include media-breakpoint-up(xl) {
    @include font-size(18px);
    padding: 0.88rem 1.35rem;
  }
}
.btn.btn-lg {
  @include font-size(32px);
  @include media-breakpoint-up(md) {
    @include font-size(30px);
    padding: 0.1rem 2.5rem;
  }
  @include media-breakpoint-up(xl) {
    @include font-size(40px);
    padding: 0.2rem 2.5rem;
  }
  @media (min-width: 1550px) {
    @include font-size(44px);
  }
}
a.btn {
  text-decoration: none;
}

.btn.btn-white:not([disabled]):not(.disabled):active,
.btn.btn-white {
  color: $pink;
}
.btn.btn-outline-grey:hover {
  background-color: $white-grey;
  color: $grey;
}
.btn.btn-outline-grey:not([disabled]):not(.disabled):active {
  background-color: darken($white-grey, 7.5%);
  color: $grey;
}
.btn.btn-outline-grey.btn-predefined-value.active,
.btn.btn-outline-grey.btn-predefined-value.active:hover {
  background-color: darken($pink, 8);
  color: $white;
  border: solid 2px darken($pink, 8);
  box-shadow: none;
}
