html {
  font-size: 100%;
}

body {
  line-height: 1.38;
  @include media-breakpoint-up(md) {
    line-height: 1.56;
  }
  @include media-breakpoint-up(xl) {
    @include font-size(18px);
    line-height: 1.44;
  }
}

input, textarea, img {
  max-width: 100%;
}

a {
  transition: $link-transition;
}
a.link-pink {
  color: $pink;
  &:hover {
    color: darken($pink, 8);
  }
}
p {
  margin: 1.3em 0;
}
input[placeholder]          { font-style: italic; }
input::-moz-placeholder     { font-style: italic; }
input:-moz-placeholder      { font-style: italic; }
input:-ms-input-placeholder { font-style: italic; }

/* Background colors */
.bg-grey {
  background-color: $grey-light;
}
.bg-green {
  background-color: $green;
  color: $white;
}
.bg-white {
  background-color: $white;
}

