html {
  font-size: 100%;
}

body {
  @include font-size(16px);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 22px;
  color: $black;
  background: $grey-light;
  @include media-breakpoint-up(md) {
    line-height: 25px;
  }
  @include media-breakpoint-up(xl) {
    @include font-size(18px);
    line-height: 26px;
  }
}

/* Background colors */
.bg-grey {
  background-color: $grey-light;
}
.bg-green {
  background-color: $green;
  color: $white;
}
.bg-white {
  background-color: $white;
}
