html {
  font-size: 100%;
}

body {
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: 22px;
  color: $black;
  background: $grey-light;
  @include media-breakpoint-up(md) {
    line-height: 25px;
  }
  @include media-breakpoint-up(xl) {
    @include font-size(18px);
    line-height: 26px;
  }
}

input, textarea, img {
  max-width: 100%;
}

a {

}
a.link-pink {
  color: $pink;
  text-decoration: none;
  &:hover {
    color: darken($pink, 8);
  }
}

input[placeholder]          { font-style: italic; }
input::-moz-placeholder     { font-style: italic; }
input:-moz-placeholder      { font-style: italic; }
input:-ms-input-placeholder { font-style: italic; }

/* Background colors */
.bg-grey {
  background-color: $grey-light;
}
.bg-green {
  background-color: $green;
  color: $white;
}
.bg-white {
  background-color: $white;
}
