body {
  min-width: 320px;
  margin: 0 auto;
}

.limited-width {
  @include media-breakpoint-up(xxl, (xxl: $xxl)) {
    max-width: $page-max-width;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
