/* Color palette */
$white: #fff;
$green: #00734a;
$pink: #d02067;
$black: #333333;
$grey: #666666;
$grey-light: #f8f8f3;
$white-grey: #ececec;
$brownish-grey: #696969;
$warm-grey: #707070;
$dark-sky-blue: #4a90e2;

$body-color: $black;
$body-bg: $grey-light;

/* Overrides for bootstrap variables */
$primary:       $green;
$secondary:     $pink;

$theme-colors: (
        'white': $white,
        'grey': $grey,
);

$link-decoration:           none;
$link-hover-color:          lighten($green, 5%);
$link-hover-decoration:     none;

$link-transition:           color .15s ease-in-out;

$line-height-base: 1.38;

$xxl: 1930px;

$page-max-width: $xxl;

$font-family-sans-serif: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$btn-border-width: 2px;

$border-radius: 8px;
$border-radius-lg: 8px;
$border-radius-sm: 8px;

$btn-focus-width: 1px;

$input-btn-padding-y: 1rem;
$input-btn-padding-x: 1.7rem;

$input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: 1rem;

$input-btn-padding-y-lg: 0.25rem;
$input-btn-padding-x-lg: 1.8rem;

$input-btn-focus-width: 1px;
$input-focus-border-color: $green;
