.btn.btn-sm.btn-paypal {
  width: 96px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
  img {
    width: 66px;
    display: inline-block;
  }

  @include media-breakpoint-up(md) {
    width: 76px;
    height: 40px;
    img {
      width: 50px;
    }
  }

  @include media-breakpoint-up(lg) {
    width: 90px;
  }

  @include media-breakpoint-up(xl) {
    width: 120px;
    height: 60px;
    img {
      width: 76px;
    }
  }
  @media (min-width: 1550px) {
    width: 132px;
    height: 70px;
    img {
      width: 86px;
    }
  }
}

// Added hack for safari browser on iOS 9.
_:default:not(:root:root), .btn.btn-sm.btn-paypal img { margin: 0 auto; }
