.copy-with-title-and-subtitle {
  .plain-text {
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    margin-bottom: 6px;
  }
  .donation-form-block__monthly {
    margin-top: 12px;
  }

  @include media-breakpoint-only(xs) {
    .copy-with-title-and-subtitle__donate-block {
      margin-bottom: 20px;
    }
    .sticky-donation-button-wrapper {
      height: 70px;
    }
    .sticky-donation-button {
      padding: 10px 0 0;
    }
    .sticky-donation-button.sticky {
      background-color: $grey-light;
      padding: 10px 15px;
    }
  }
  @include media-breakpoint-only(sm) {
    .copy-with-title-and-subtitle__donate-block {
      display: flex;
      .plain-text {
        width: 60%;
      }
      .donation-form-short-block {
        width: 40%;
        padding: 2px 0 2px 15px;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    .donation-form-block__monthly {
      margin-top: 20px;
    }
  }
}
