.info-icon-wrapper {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  right: -5px;
  //background-image: url(../img/info-icon.svg);
  z-index: 10;
  cursor: pointer;

  path.fill {
    fill: #c5c5c5;
  }

  &:hover {
    path.fill {
      fill: #8f2954;
    }
  }
}
