.price-filter {
  margin-top: 14px;
  margin-bottom: 32px;

  &__header {
    color: #606060;
    font-size: 15px;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__values {
    font-weight: 500;
  }

  .rc-slider {
    .rc-slider-track, .rc-slider-handle {
      background: $brand-danger;
    }

    .rc-slider-handle {
      border-color: $brand-danger;
      width: 12px;
      height: 12px;

      &:focus {
        box-shadow: 0 0 0 5px $brand-danger;
      }

      &:active {
        border-color: $brand-danger;
      }
    }

    .rc-slider-handle-1 {
      margin-left: -1px;
    }
    .rc-slider-handle-2 {
      margin-left: -11px;
    }

    .rc-slider-dot-active {
      border-color: $brand-danger;
    }

    .rc-slider-dot, .rc-slider-mark-text {
      display: none;
    }
  }
}