.page-content {
  margin-top: $navbar-min-height-mobile;

  @media (min-width: $screen-sm-min) {
    margin-top: $navbar-min-height;
  }
}

.no-gutters {
  padding-right: 0;
  padding-left: 0;

  > .row {
    margin-left: 0;
    margin-right: 0;
  }
}