.checkout-container {
  fieldset {
    border: none;
  }
  // Disable shadows because it looks messy with float labels.
  .form-control,
  .form-control:focus,
  .has-error .form-control,
  .has-error .form-control:focus {
    box-shadow: none;
  }

  form {
    .field-object {
      > fieldset {
        padding: 0;
        margin: 0;
      }
    }
    label[for="root"] {
      display: none;
    }

    &.profile .field-object,
    &.address .field-object,
    &.event-codes .field-object {
      margin: 0;
    }

    &.options {
      margin: 16px 0;
      padding: 0 15px;

      .field {
        margin-bottom: 0px;
      }
      .checkbox {
        width: 100%;
        max-width: 400px;
        position: relative;
        margin-bottom: 16px;
        padding-left: 0;

        label {
          margin-bottom: 0px;
          &:hover {
            input[type=checkbox]:after {
              border-color: $brand-primary;
            }
          }
        }

        input[type=checkbox] {
          position: absolute;
          top: 12px;
          left: 12px;
          visibility: hidden;

          &:after {
            visibility: visible;
            display: inline-block;
            cursor: pointer;
            content: " ";
            background: #fff;
            width: 24px;
            height: 24px;
            border: 1px solid;
            border-radius: 4px;
          }

          &:checked + span {
            border-color: $brand-primary;
            color: $brand-primary;
          }
          &:checked:after {
            font-family: 'Material Icons';
            content: "\E5CA";
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            font-size: 24px;
            color: #fff;
            background: $brand-primary;
            border: none;
          }
        }

        span {
          cursor: pointer;
          display: block;
          padding: 14px 0;
          border: 1px solid $gray-dark;
          border-radius: 4px;
          color: $gray-dark;
          font-size: 14px;
          padding-left: 44px;

          &:hover {
            color: $brand-primary;
            border-color: $brand-primary;
          }
        }
      }
    }

    .form-select:before {
      right: 30px;
    }

    select {
      cursor: pointer;
    }
  }

  // Visible row with card options.
  .row.card-product {
    display: table;
    width: 100%;
    margin-left: 0;
    @media #{$mobile-land} {
      display: block;
    }
    & > div {
      display: table-cell;
      float: none;
      vertical-align: middle;
      @media #{$mobile-land} {
        display: block;
        float: left;
      }
    }

    label.radio-inline {
      @extend .btn;
      @extend .btn-sm;
      padding-left: 30px;

      input[type="radio"] {
        position: absolute;
        margin-top: 10px;
        margin-left: -20px;
      }
    }

    .form-group {
      margin: 0;
    }
  }

  // Form to configure card sending.
  form.card-send {

    & > div {
      margin: 0;
    }

    & > .primary-buttons {
      padding: 0 15px;
      button {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    ul.list-inline {
      margin-bottom: 0;
    }

    .send-date {
      .btn-now {
        @extend .btn-info;
        background-color: $brand-primary;
      }

      .btn-clear {
        @extend .btn;
      }

      li {
        position: relative;
        &:before {
          @extend .form-element:before;
          @extend .form-element.form-select:before;
        }

        #root_sending_date {
          left: 15px;
        }

        #root_sending_date_year {
          width: 80px;
        }

        #root_sending_date_month {
          width: 90px;
        }
        #root_sending_date_day {
          width: 70px;
        }
      }
    }
  }

  // By default, hide errors highlighting.
  .has-error .form-control {
    border-color: #ededed;
  }
  .has-error .form-control:focus {
    border-color: #77cde3;
  }

  // Only highlight errors if parent class showErrors exists.
  .showErrors {
    .has-error > .form-control, .has-error > .form-control:focus {
      border-color: #ce3131;
    }
  }

  .checkout-payment {
    // Additional styles for Paypal button.
    .paypal-button-parent.paypal-button-parent-label-checkout {
      min-height: 60px !important;
    }
    // Styles for "OR" between payment options buttons.
    .payment-options-or-label {
      text-align: center;
      padding-top: 8px;
      margin-bottom: 8px;
    }
    .StripeCheckout {
      cursor: pointer;
      display: block !important;
      max-width: 500px;
      margin: 0 auto;
    }
    button {
      width: 100%;
    }
  }
}

.checkout-processing {
  .modal-content {
    background: none;
    box-shadow: none;
    border: none;
    text-align: center;
    font-size: 3.5em;
    color: white;
  }
}
