// Falcon fixes for the theme.

// Make drop-down arrows to open select list.
.form-element {
  &.form-select:before {
    pointer-events: none;
  }
}

// Add currency symbols to the inputs.
.form-group.currency-EUR,
.form-group.currency-GBP {
  .form-group.field-integer {
    position: relative;

    input {
      padding-left:32px;
    }

    &:before {
      position: absolute;
      top: 12px;
      left: 12px;
      pointer-events: none;
    }
  }
}

.form-group.currency-EUR .form-group.field-integer:before {
  content:"€";
}
.form-group.currency-GBP .form-group.field-integer:before {
  content:"£";
}

.main-navigation {
  .menu li > a.active {
    color: $nav-link-hover-color;
  }
}

// Continue shopping widget.
.continue-shopping a.btn {
  text-transform: none;
  background-color: transparent;
  height: 32px;
  line-height: 28px;
  padding: 0 12px 0 11px;
  margin: 0;
  color: #606060;
  border: solid 1px #7f7f7f;

  svg {
    width: 11px;
    height: 11px;
    margin-right: 5px;
    vertical-align: -1px;
  }

  svg path.fill {
    fill: #7f7f7f;
  }

  @media (min-width: $screen-sm-min) {
    height: 36px;
    line-height: 32px;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &:hover {
    color: #008a5f;
    border-color: #008a5f;

    svg path.fill {
      fill: #008a5f;
    }
  }

  &:active {
    color: #2a5c40 !important;
    border-color: #2a5c40;

    svg path.fill {
      fill: #2a5c40;
    }
  }
}
