.info-card-image--mobile {
  @media (min-width: $screen-sm-min) {
    display: none !important;
  }
}

.info-card__image-container {
  text-align: center;

  img {
    width: 100%;
  }

  @media (min-width: $screen-md) {
    padding-top: 0;
  }
}

.column--info-card-image, .category-tile>.inner>.column.column--info-card-image {
  display: none;
  @media (min-width: $screen-sm-min) {
    display: table-cell;
  }
}
