// Colors
$section-title-color: #00734a; // Convert to global variable and replace it's usage in codebase.
$text-color: #595959;
$cta-button-color-dark: #8e0042;
$cta-button-color-light: #d41b66;
$tile-image-background-color: #f6f6f6;
$bundled-products-price-color: #606060;

// Font sizes
// $font-size-h1
$text-font-size: 18px;
$price-font-size: 30px;

// Font weights
$title-font-weight: bold;
$bold-text-font-weight: bold;
$price-font-weight: normal;

// Spacing
$gift-body-padding: 48px;
$secondary-section-padding: 64px 88px 64px 64px;
$bottom-cta-padding: 172px 80px;
$bundle-section-margin: 150px 48px 150px 80px;

.tiles-row {
}

.tile {
}

.tiles-container {
  overflow: hidden;
  @media (min-width: 768px) and (max-width: 1470px) {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
  }

  .product-tools {
    margin: 0;
  }
}

.tile--image-section {
  background-color: $tile-image-background-color;
  height: 100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  img {
    margin: 0 auto;
    max-height: 580px;
  }
}

.tile--image-section--primary {
  @media (max-width: $screen-md - 1){
    img {
      max-height: 400px;
      width: auto;
    }
  }
}

@media (min-width: 768px) {
  .tile-image-col-right {
    padding-left: 0;
  }

  .tile-image-col-left {
    padding-right: 0;
  }
}

.tile--text-section {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 36px;

    p {
      font-size: 18px;
    }
  }
}

.tile--text-section--bottom-ctas {
  padding-top: 85px;
  padding-bottom: 64px;
  .tile-gift-title {
    padding-top: 8px;
  }
  .tile-gift-price--bottom {
    padding-top: 6px;
  }
}

.tile-gift-title--in-action, .tile-gift-title--what-you-get {
  @media (min-width: 768px) {
    padding-bottom: 16px;
    padding-top: 40px;
  }
}

.tile-gift-price {
  span {
    font-size: 24px;
    font-weight: normal;
    color: $text-color;
  }
}

.tile-gift-price--bottom {
  margin-bottom: 24px;
}

.tile-gift-body {
  p {
    padding-bottom: 8px;
    margin: 0;
  }

  margin-bottom: 8px;
}

.tile-gift-cta-buttons {
  button {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.2;
    height: 48px;
    margin: 0; // reset padding.
    margin-bottom: 12px;
  }

  .tile-add-to-basket-button-col {
    button {
      background-color: $cta-button-color-dark;
      &:hover {
        color: #ffffff;
        background-color: darken($cta-button-color-dark, 5%)
      }
    }

    @media (min-width: 768px) {
      padding-right: 8px;
    }

  }

  .gift-buy-now-col {
    button {
      background-color: $cta-button-color-light;
      &:hover {
        color: #ffffff;
        background-color: darken($cta-button-color-light, 5%)
      }
    }

    @media (min-width: 768px) {
      padding-left: 8px;
    }
  }



  @media (min-width: 992px) {
    max-width: 100%;
  }

  @media (min-width: 1470px) {
    margin-top: 48px;
  }
}

.tile-gift-cta-buttons--bottom {
  @media (min-width: 768px) {
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
}

.tile-gift-cta-buttons--bottom {
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .product-info {
    padding-left: 26px;
    padding-right: 26px;
  }
}

@media (min-width: 992px) {
  .product-info {
    padding: 64px 88px 64px 64px;
  }
}

.product-info--bottom {
  padding: 0;
  @media (max-width: 992px) {
    margin-top: -50px;
  }
}

.tile-gift-title {
  font-size: 24px;
  line-height: 1.33;
  color: $section-title-color;
  font-weight: bold;
  margin-bottom: 0;
  padding-top: 8px;
  @media (min-width: 768px) {
    padding-top: 24px;
  }
  @media (min-width: 1470px) {
    font-size: 30px;
    padding-top: 0;
  }
}

.tile--text-section--primary {
  @media (min-width: 992px) {
    .tile-gift-title {
      padding-top: 0;
    }
    .product-info {
      padding-top: 48px;
      padding-left: 48px;
      padding-right: 48px;
    }
  }
}

.gift-in-this-bundle {
  .tile-gift-title {
    padding-bottom: 8px;
  }

  .gift-in-this-bundle-description {
    padding-bottom: 32px;
    margin-bottom: 0;
  }
  .shop-item-price {
    color: $bundled-products-price-color;
  }

  @media (min-width: 768px)  and (max-width: 992px) {
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 26px;
    padding-right: 26px;
  }

  @media (min-width: 992px) {
    max-width: 100%;
    padding-top: 48px;
  }

}

.object-fit-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.object-fit-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .no-gutter-sm {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .no-gutter-md {
    padding-left: 0;
    padding-right: 0;
  }

}

@media (min-width: 992px) {
  .row-eq-height {
    display: flex;
  }
}
