/* Color palette */
$white: #fff;
$green: #00734a;
$pink: #d02067;
$black: #333333;
$grey: #666666;
$grey-light: #f8f8f3;
$white-grey: #ececec;


$primary:       $green;
$secondary:     $pink;

$theme-colors: (
  'white': $white,
  'grey': $grey,
);
