$font-family-sans-serif: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$btn-border-width: 2px;

$border-radius: 8px;
$border-radius-lg: 8px;
$border-radius-sm: 8px;

$btn-focus-width: 1px;