.video-player > div {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  //padding-top: 25px;
  height: 0;
  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.video-player-block {
  overflow: hidden;
  .poster {
    transition: opacity .15s ease-in-out;
    opacity: 1;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .play-button--loading {
      display: none;
      width: 118px;
    }
    img {
      transition: opacity .15s ease-in-out;
      width: 60px;
      opacity: 0.4;
    }
    &:hover img {
      opacity: 0.9;
    }
  }
  &.playing.loading {
    .play-button {
      display: none;
    }
    .play-button--loading {
      display: block;
    }
  }
  &.playing:not(.loading) {
    .play-button {
      display: none;
    }
    .poster {
      opacity: 0;
    }
  }
  &.hide-poster .poster {
    display: none;
  }

  @include media-breakpoint-up(sm) {
    .poster img {
      width: 80px;
    }
  }
  @include media-breakpoint-up(lg) {
    .poster img {
      width: 90px;
    }
  }
  @include media-breakpoint-up(xl) {
    .poster img {
      width: 100px;
    }
  }
}
