.video-player > div {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  //padding-top: 25px;
  height: 0;
  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.video-player-pane {
  .poster {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    &:after {
      transition: opacity .15s ease-in-out;
      content: '';
      display: block;
      position: absolute;
      background-image: url('/static/images/video-play.png');
      width: 223px;
      height: 100px;
      top: calc(50% - 50px);
      left: calc(50% - 110px);
    }
    &:hover:after {
      opacity: 0.8;
    }
  }
}
