.donation-form-block {
  .predefined-values {
    margin-bottom: 10px;
  }
  .donate-monthly {
    color: $grey;
    @include font-size(13px);
  }
  .donate-by-paypal {
    float: right;
  }
  .donation-form-block__predefined-values {
    margin-bottom: 10px;
  }
}
.donation-amount {
  @include font-size(30px);
  border: none;
  border-bottom: solid 2px grey;
  width: 100%;
  color: $grey;
  margin: 0;
  padding: 6px 16px;
  margin-bottom: 10px;
}

.donation-form-block__predefined-values {
  .btn-group {
    display: flex;
    justify-content: space-between;
  }
  .btn-predefined-value {
    width: 30%;
    @include font-size(22px);
    padding-bottom: 0.094rem;
    padding-top: 0.094rem;
  }
  @include media-breakpoint-up(xl) {
    .btn-predefined-value {
      @include font-size(30px);
      padding-bottom: 0.719rem;
      padding-top: 0.719rem;
    }
  }
}