.donation-form-block {
  .predefined-values {
    margin-bottom: 10px;
  }
  .donation-form-block__predefined-values {
    margin-bottom: 13px;
  }
  .donation-form-block__donation-amount {
    margin-bottom: 26px;
  }
  .donation-form-block__monthly {
    margin-bottom: 26px;
  }
  @include media-breakpoint-up(lg) {
    .donation-form-block__predefined-values {
      margin-bottom: 10px;
    }
    .donation-form-block__monthly,
    .donation-form-block__donation-amount {
      margin-bottom: 20px;
    }
  }
  @include media-breakpoint-up(xl) {
    .donation-form-block__predefined-values {
      margin-bottom: 12px;
    }
    .donation-form-block__monthly,
    .donation-form-block__donation-amount {
      margin-bottom: 24px;
    }
  }
}
.donation-amount {
  @include font-size(30px);
  border: none;
  border-bottom: solid 2px grey;
  width: 100%;
  color: $grey;
  margin: 0;
  padding: 6px 16px;
}
.donation-form-block__monthly {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donate-monthly {
  color: $grey;
  @include font-size(13px);
}

.donation-form-block__predefined-values {
  .btn-group {
    display: flex;
    justify-content: space-between;
  }
  .btn-predefined-value {
    @include font-size(22px);
    width: 30%;
    padding-bottom: 0.094rem;
    padding-top: 0.094rem;
  }
  @include media-breakpoint-up(xl) {
    .btn-predefined-value {
      @include font-size(30px);
      padding-bottom: 0.719rem;
      padding-top: 0.719rem;
    }
  }
}