.donation-form-block {
  .predefined-values {
    margin-bottom: 10px;
  }
  .donation-form-block__predefined-values {
    margin-bottom: 13px;
  }
  .donation-form-block__donation-amount {
    margin-bottom: 26px;
  }
  .donation-form-block__monthly {
    margin-bottom: 26px;
  }
  @include media-breakpoint-up(lg) {
    .donation-form-block__predefined-values {
      margin-bottom: 10px;
    }
    .donation-form-block__monthly,
    .donation-form-block__donation-amount {
      margin-bottom: 20px;
    }
  }
  @include media-breakpoint-up(xl) {
    .donation-form-block__predefined-values {
      margin-bottom: 22px;
    }
    .donation-form-block__monthly,
    .donation-form-block__donation-amount {
      margin-bottom: 24px;
    }
  }
  @media (min-width: 1550px) {
    .donation-form-block__predefined-values {
      margin-bottom: 42px;
    }
    .donation-form-block__monthly,
    .donation-form-block__donation-amount {
      margin-bottom: 38px;
    }
  }
}
.donation-form-block__donation-amount {
  position: relative;
  .amount-with-currency__currency {
    @include font-size(22px);
    color: $grey;
    position: absolute;
    display: block;
    top: 6px;
    left: 21px;
  }
  input {
    @include font-size(22px);
    color: $grey;
    border: none;
    border-bottom: solid 2px $grey;
    width: 100%;
    margin: 0;
    padding: 6px 16px;
    padding-left: 34px;
    padding-bottom: 2px;
    outline: none;
    &:focus {
      border-bottom-color: $pink;
    }
  }
  @include media-breakpoint-up(lg) {
    input {
      padding-bottom: 8px;
    }
  }
  @include media-breakpoint-up(xl) {
    input {
       @include font-size(30px);
       padding-left: 48px;
       padding-bottom: 12px;
     }
    .amount-with-currency__currency {
      @include font-size(30px);
      left: 30px;
    }
  }
  @media (min-width: 1550px) {
    input {
      @include font-size(32px);
      padding-left: 48px;
      padding-bottom: 6px;
    }
    .amount-with-currency__currency {
      @include font-size(32px);
      top: 6px;
      left: 30px;
    }
  }
}

.donation-form-block__monthly {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donate-monthly {
  @include font-size(13px);
  color: $grey;
  label {
    padding-left: 5px;
    margin: 0;
  }
  @include media-breakpoint-up(xl) {
    @include font-size(14px);
  }
  @media (min-width: 1550px) {
    label {
      @include font-size(15px);
    }
  }
}

.donation-form-block__predefined-values {
  .btn-group {
    display: flex;
    justify-content: space-between;
  }
  .btn-predefined-value {
    @include font-size(22px);
    width: 30%;
    padding-bottom: 0.094rem;
    padding-top: 0.094rem;
  }
  @include media-breakpoint-up(xl) {
    .btn-predefined-value {
      @include font-size(30px);
      padding-bottom: 0.344rem;
      padding-top: 0.344rem;
    }
  }
  @media (min-width: 1550px) {
    .btn-predefined-value {
      @include font-size(32px);
      padding-bottom: 0.625rem;
      padding-top: 0.625rem;
    }
  }
}
